// courses
.courses
	&-block
		position: relative

		display: flex
		justify-content: space-between
		align-items: flex-start

		padding: 15px
		color: $black

		overflow: hidden
		
		margin-bottom: 15px
		
		background-color: #f6f6f6

		+borderRadius

		&-content
			&-text, &-btn
				position: relative
				z-index: 2

			&-text
				width: 80%

				&__subtitle
					font-size: 18px
					margin-bottom: 5px

				&__title
					font-size: 26px
					margin-bottom: 5px

				&__auth
					font-size: 18px
					+bold

			&-btn
				margin-top: 50px

				&__price
					font-size: 24px
					margin-bottom: 15px

				&__btn
					width: 250px

		&-image
			width: 125px
			min-width: 125px
			height: 125px

			border-radius: 100px

			+backgroundSetting