// interface
*
	margin: 0
	padding: 0
	outline: none
	box-sizing: border-box

	&::selection
		background-color: #B4D5FE

body
	font-size: 15px
	color: $black
	overflow-y: scroll
	background-color: $white
	
	+light

// description
p
	line-height: 1.4em

// wrapper
.wrapper
	// width: 380px
	// margin: 0 auto

// container
.container
	width: calc( 100% - 20px )
	margin: 0 auto

// btn
.btn
	cursor: pointer
	user-select: none
	text-align: center
	display: inline-block
	border: none
	font-size: 15px
	background-color: $mainColor
	color: $white
	padding: 20px 40px
	text-decoration: none

	+transition
	+borderRadius
	+light

// input
.input
	width: 100%
	border: 1px solid $black
	background-color: transparent
	font-size: 16px
	color: $black
	padding: 15px 20px
	
	+borderRadius

// thank
.thank
	text-align: center

	&__title
		margin: 50px 0

		font-size: 24px

	&__btn
		width: 100%